<%- include('../partials/header') %>
<form id="new-workout" action="/workouts" method="POST">
    <label>Date</label>
    <input type="date" name="date">
    <label>Muscle Groups</label>
        <select name="muscleGroups">
            <%- muscles.map(m =>
            `<option value="${m._id}">${m.muscles}</option>`
            ).join('') %>
        </select>
    <label>Calories Before Workout:</label>
    <input type="number" name="calories">
    <label>How You Felt?</label>
        <textarea name="content"></textarea>
    <input type="submit" value="Add Workout">
</form>
<br><br>
<h2><a href="/muscles/new">Add New Muscle Group</a></h2>

<%- include('../partials/footer') %>