<%- include('../partials/header') %>
    <form id="new-workout" action="/workouts" method="POST">
        <label>Date</label>
        <input type="date" name="date">
        <br><br>
        <label>Muscle Groups</label>
        <select name="muscleGroups">
            <%- muscles.map(m=>
                `<option value="${m._id}">${m.muscles}</option>`
                ).join('') %>
        </select>
        <br><br>
        <label>Calories Before Workout:</label>
        <input type="number" name="calories">
        <br><br>
        <label>How You Felt?</label>
        <textarea name="content"></textarea>
        <br><br>
        <input type="submit" value="Add Workout">
    </form>
    <br><br>
    <h2><a href="/muscles/new">Add New Muscle Group</a></h2>

    <%- include('../partials/footer') %>