<%- include('partials/header') %>
<h2>Login to begin tracking your workouts!</h2>
<p class="index-page">
    How to Use the App<br>
    Once logged in, begin to track your workouts by adding a session. After adding a session,<br> 
    you can add exercises by each set with the number of reps performed and weight lifted.<br>
    New muscle groups(workout types) can be created so that it can be added to the workout session. <br>
</p>

<footer>"If it turns out my best wasn't good enough, at least I won't look back and say I was afraid to try." - Michael Jordan</footer>
<%- include('partials/footer') %>
