<%- include('../partials/header') %>
<form action="/muscles" method="POST">
    <label>Muscle Group(s)</label>
    <input type="text" name="muscles">
    <br><br>
    <input type="submit" value="Add Muscle(s)">
</form>

<%- include('../partials/footer') %>
