body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body > nav {
  grid-area: nav;
  background-color: #aa17e4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: yellow;
  border-style: outset;
}

a > img {
  width: 50px;
  align-items: center;
  object-fit: contain;
  justify-content: left;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  color: white;
}

.login img {
  height: 30px;
}

button {
  background-color: yellow;
  border-radius: 20%;
}

button:hover {
  transition: 1s ease-in-out;
  background: #aa17e4;
}