* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: white;
  text-align: center;
}

body {
  /* display: flex;
  flex-direction: column; */
  background-color: black;
  padding: 0px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

body > nav {
  background-color: #383636f1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: black;
  border-style: outset;
}

a > img {
  width: 70px;
  margin-left: 0 auto;
}
.log {
  color: black;
  align-self: right;
  background-color: yellow;
  border-radius: 20%;
}
.index-page {
  border-color: white;
  border: solid;
}

input, select, textarea {
  color: black;
}

button:hover {
  transition: 1s ease-in-out;
  background: #ffffff;
}

table {
  border: solid white;
  margin: 0 auto;
  height: 300px;
  width: 700px;
}

th, td {
  border: solid white; 
  border-width: 1px;
}

.submit {
  color: black;
}